
button {
    margin-left: 10px;
}


.dropdown {
    margin-left: 5px;
}

.form{
    margin-left: 20px;
}

.link {
    cursor: pointer;
}

.selectForm {
    display: flex;
    justify-content: space-between;
    width: 720px;
}