.row {
  margin-top: 10px;
  background-color: azure;
  padding: 10px 0px 15px 0px;
  border-radius: 3px;
}

.listGroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: azure;

  img {
    border-radius: 7px;
    width: 120px;
    height: 100px;
  }

  p,
  h4,
  h1 {
    color: rgb(61, 61, 61);
  }
  p{
    font-weight: bold;
  }

}
