// @import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
// .drop {
//   margin-left: 10px;
//   width: 80px;
// }

// .toggle,
// .toggleSpan {
//   color: rgb(233, 231, 231);
//   overflow-x: hidden;
//   width: 110px;
// }

.toggle {
  color: aliceblue;

  &:hover {
    color: aliceblue;
  }

  &:focus {
    box-shadow: none;
  }
}

.toggleMenu {
  top: 44px !important;
}
