.counter {
  width: 100px;
  padding-top: 50px;
  display: flex;
  align-items: center;

 

  input {
    border: none;
    width: 50px;
    margin-left: 20px;

    &:focus {
      border: none;
      outline: 0px;
    }
  }
}

.count {
  padding: 10px;
  height: 5px;
  margin-left: 5px;
  color: rgb(8, 8, 8);
}
