@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.drop {
  margin-left: 10px;
  width: 70px;
}

.toggle,
.toggleSpan {
  color: rgb(233, 231, 231);
  overflow-x: hidden;
  width: 100px;
}

